<div class="p-2 border align-self-center">
    <div class="container-sm bg-light text-dark text-center">
      <h1>LE NOSTRE SCARPE!</h1>
      <p class="lead">In questo sito potrai osservare e comprare le nostre scarpe. Lo aggiorneremo presto con nuovi modelli!</p>
    </div>
    <img src="https://cdn.sanity.io/images/szgg9g15/production/64b764c31b72e93ffff91f5fb20ea2a6b26ba55b-2057x1377.jpg" class="mx-auto d-block"  alt="home" width="1000" height="600">
  </div> 
  <div class="p-2 border align-self-center">
    <h6>Proprietario del Sito: Molodduwa Andri </h6>
    <h6>Bisogno di aiuto? Chiama il nostro Centro Assistenza: +39 3473472023</h6>
  </div>